/*General*/
.titulo{
    text-align: center;
}

.banner {
    display: flex;
}

.logo {
    padding-left: 0%;
    padding-right: 8%;
}

.barra {
    padding-top: 0%;
    padding-left: 2%;
    padding-right: 2%;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    
}

.barraul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.barrali {
    display: block;
    padding-left: 60px;
    padding-right:60px;
    color:#fff;
    text-shadow: 1px 1px 2px #000000;
    text-decoration: none;
    text-align: center;
}

.barra a {
  color: white;         
  text-decoration: none;  
}

.barra a:visited {
  color: white;  /* evita que se pongan morados */
}

header {
    background-color: #395C2E;  
    padding-left: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color:#DB4900;
    text-shadow: 1px 1px 4px #8f3001;
    margin-top: 0%;
    padding-top: 0.5%;
    font-family: "Astloch", system-ui;
    font-weight: 700;
    font-style: normal;
}

/* Ocultar botón hamburguesa en desktop */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

body {
  color:#ccc4c0;
  margin: 0;
  background-color: #0c140a;
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}

.slogan{
  text-align: center;
  text-shadow: 2px 1px 4px #ffd90096;
}

.hero{
  margin: 15px 10%;
  padding: 3px 15px;
  background: #395c2e56;
  border-radius: 3px;
  display:flex;
}
.hero section{
  width: 65%;
}
.hero_desc{
  font-size: large;
  text-shadow: 2px 1px 2px #000000;
}
.hero #hero_prod{
  width: 30%;
  margin: 1% 2.5%;
  background: #395c2e56;
  border-radius: 3px;
  padding: 2%;
}
.hero #hero_prod h3{
  text-align: center;
}

.btn_tienda{
  padding: 10px 15px;
  background: #196900;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  width: fit-content;
}

.contenedor_img_hero {
    width: 80%;
    height: 200px;
    overflow: hidden;
    padding-left: 10%;
    padding-bottom: 5%;
}

.contenedor_img_hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}


.negrita_marcada{
  text-shadow: 2px 1px 2px #000000;
}

/*Tienda*/
.productos { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    padding-left: 50px;
    padding-right: 50px;
    gap: 20px;
}
.producto { 
    border: 1px solid #BFF205; 
    background-color: #1b2c16;
    border-radius: 8px; 
    padding: 15px; 
    text-align: center; 
    transition: 0.3s; 
    cursor: pointer;
}
.producto:hover { box-shadow: 0 4px 12px rgba(0,0,0,1); }
.producto img { 
    max-width: 150px;
    max-height: 150px; 
    border-radius: 5px; 
}
.producto h3 { 
    text-shadow: 1px 1px 4px #A67D03;
    margin: 10px 0 5px; 
}
.producto p { 
    font-size: 14px; 
    color: #fff; 
}
.producto .precio { 
    font-weight: bold; 
    text-shadow: 1px 1px 2px #011b00;
    margin-top: 10px; 
}
.filtro { 
  text-align: center; 
  margin-bottom: 20px; 
}
select { 
  padding: 5px; 
  font-size: 14px; 
}


/* --- Modal --- */
.modal {
  display: none; 
  position: fixed; 
  z-index: 999; 
  left: 0; top: 0; 
  width: 100%; height: 100%; 
  background: rgba(0,0,0,0.7); 
  justify-content: center; 
  align-items: center;
}
.modal-content {
  background: #395C2E; 
  border-radius: 10px; 
  width: 700px;
  height: 400px;
  display: flex;
  overflow: hidden;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}
.modal-left, .modal-right {
  padding: 20px;
}
.modal-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-left h2 { 
  color:#DB4900;
  font-size: xx-large;
  text-shadow: 1px 1px 2px black;
  margin: 0 0 10px; 
  font-weight: bold; 
}
.modal-left p { 
  color: #ffffff; 
  font-size: large;
  margin-bottom: 15px; 
}
.modal-left .precio { 
  font-size: medium; 
  margin-bottom: 15px; 
  text-shadow: 1px 1px 2px #011b00;
  color: #fff; 
  font-weight: bold;
}
.modal-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-right img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}
.close {
  position: absolute; 
  top: 10px; 
  right: 15px; 
  font-size: 24px; 
  cursor: pointer; 
  color: #333;
}
.info {
  padding: 10px 0px;
  color: #ffffff;
  text-shadow: 1px 1px 4px #DB4900;
}
.info:visited {
  color: #ffffff;
}
.whatsapp {
  display: inline-block;
  padding: 10px 15px;
  background: #25d366;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  width: fit-content;
}
.whatsapp:hover { background: #20b955; }
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

.prod_individual{
  margin: 25px 25px;
  display: flex;
}

.prod_info{
  width: 50%;
}
.prod_info #galeria{
  margin-left: 10%;
}
.prod_info #galeria img{
  border: 8px solid #142010;
  width: 80%;
  border-radius: 8px;
  margin-top: 20px;
}
.prod_uso{
  background: #142010;
  width: 50%;
  padding: 15px 15px;
}


@media (max-width: 900px) {
  .barra ul {
    display: none;               /* oculto por defecto */
    flex-direction: column;      /* vertical */
    background: #050f01;
    position: absolute;
    top: 120px;
    left: 0%;
    width: 100%;
    padding: 10px;
    text-align: center; 
    justify-content: center; 
  }

  .barra ul.active {
    display: flex; /* mostrar cuando se active */
  }

  .menu-toggle {
    display: block; /* botón visible en móvil */
  }

  .prod_info #galeria{
  margin-left: -1%;
  }
  .prod_info #galeria img{
  border: 5px solid #142010;
  width: 90%;
  border-radius: 8px;
  }

  .hero{
    display:block;
  }
  .hero section{
  width: 95%;
  }
  .hero #hero_prod{
  width: 95%;
  margin: 2% 0%;
  padding: 2%;
  }
}